---
---

  <section id="products" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2><a onclick="ga('send', 'event', 'Click', 'ProductPage', '<%= product.title %>');" href="/function/<%= product.title.parameterize %>/"><%= product.title %></a></h2>
          <p>
            <%= product.description %>
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
          <p>
            <% if !product.buy.nil? && product.buy != "" %>
              Support by: <%= link_to product.company.name, product.company.url %><br>
              Support email: <%= product.company.support_email %>
            <% end %>
          </p>

          <p>
            <a href="https://aws.amazon.com/lambda"><i class="fa fa-amazon" aria-hidden="true"></i></a>
            <% if !product.github.nil? && product.github != "" %>
              <a  onclick="ga('send', 'event', 'Click', 'Github', '<%= product.title %>');" href="<%= product.github %>"><i class="fa fa-github" aria-hidden="true"></i></a>
            <% end %>
          </p>

          <p>
            <% if !product.buy.nil? && product.buy != "" %>
              <a onclick="ga('send', 'event', 'Click', 'Buy', '<%= product.title %>');" class="btn btn-lg buy-button btn-danger" href="<%= product.buy %>" rel="nofollow">Buy $<%= product.price %></a>
            <% end %>

            <a onclick="ga('send', 'event', 'Click', 'Docs', '<%= product.title %>');" class="btn btn-lg btn-success" href="<%= product.url %>">Docs</a>

            <% if !product.demo.nil?  && product.demo != "" %>
              <a  onclick="ga('send', 'event', 'Click', 'Demo', '<%= product.title %>');" class="btn btn-lg btn-default" href="<%= product.demo %>" rel="nofollow">Demo</a>
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </section>
