---
title: Curated and supported serverless apps to run in AWS Lambda, Google Functions and Azure Cloud Function.
---

<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="opszero-header">
        <h1 class="white-text text-center new-header-font">opsZero</h1>
        <br>
        <h2 id="blurb-text" class="white-text">Curated functions to power your backend</h2>
    </div>
  </div>
</header>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>
  </div>
</section>


<section id="products" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <% data.solutions.each do |product| %>
        <div class="col-lg-7">
          <h2><a href="<%= product.url %>"><%= product.title %></a></h2>

          <p>
            <%= product.description %>
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
          <p>
            Company: <%= link_to product.company.name, product.company.url %><br>
            Support: <%= product.company.support_email %>
          </p>

          <p>
            <a href="https://aws.amazon.com/lambda"><i class="fa fa-amazon" aria-hidden="true"></i></a>
          </p>

          <p>
            <a onclick="ga('send', 'event', 'Click', 'Buy', '<%= product.title %>');" class="btn btn-lg buy-button btn-danger" href="<%= product.buy %>" rel="nofollow">Buy $<%= product.price %></a>
            <a  onclick="ga('send', 'event', 'Click', 'Demo', '<%= product.title %>');" class="btn btn-lg btn-info" href="<%= product.demo %>" rel="nofollow">Demo</a>
          </p>

        </div>
      <% end %>
    </div>

  </div>
</section>
